{%extends "base.html"%}

{%block title%}Admin{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}" />
{%endblock%}

{%block content%}
<div class="main-view">
    <h1>Admin</h1>
    <h2>Salasana</h2>
    <form method="POST" action="{{ url_for('admin.update_pass') }}">
        <p>Nykyinen salasana: <code>{{ current_password }}</code></p>
        <label for="new-pass">Uusi salasana:</label>
        <input id="new-pass" type="text" name="new_pass" minlength="6" maxlength="6" required />
        <input type="submit" value="Päivitä" />
    </form>

    <h2>Voittolinkki</h2>
    <form method="POST" action="{{ url_for('admin.update_url') }}">
        <p>Nykyinen linkki: <a href="{{ current_win_url }}">{{ current_win_url }}</a></p>
        <label for="new-url">Uusi linkki:</label>
        <input id="new-url" type="text" name="new_url" required />
        <input type="submit" value="Päivitä" />
    </form>

    <h2>Toiminnot</h2>
    <form method="POST" action="{{ url_for('admin.solve_year_puzzle') }}">
        <p>Ratkaise seuraava valeuutishaaste: <strong>{{ current_skip_year_puzzle }}</strong></p>
        <p>Huom: ratkaisu tulee noin 5 sekunnin viiveellä</p>
        <input type="submit" value="Ratkaise valeuutishaaste" />
    </form>
    {% if enable_extra_challenge %}
    <form method="POST" action="{{ url_for('admin.enable_extra_challenge') }}">
        <p>Pelataan lisähaaste: <strong>{{ current_enable_extra_challenge }}</strong></p>
        <input type="submit" value="Ota päälle lisähaaste" />
    </form>
    {% endif %}
</div>
{%endblock%}