{%extends "base.html"%}

{%block title%}x34_^3'*`|-*/{%endblock%}

{%block head%}
<script src="{{ url_for('static', filename='script/koodi_script.js') }}"></script>
{%endblock%}

{%block content%}
<canvas id="bg-effect" width="100" height="100" class="code-bg"></canvas>

<div class="koodi-view">
    <form id="koodi-form" class="koodi-form">
        <h1>Syötä koodi</h1>
        <input id="koodi-code" name="koodi_code" type="text" maxlength="6" minlength="6" required />
        <input id="koodi-send" type="submit" value="Vahvista" />
    </form>
    <div class="koodi-first-code">1. kirjain: {{ first_letter }}</div>
    <div class="koodi-first-code">2. kirjain: {{ second_letter }}</div>
</div>
{%endblock%}