<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faktatytön superblogi: Käynti Soihdussa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bulma.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
</head>

<body class="has-navbar-fixed-top">
    {% include "nav.html" %}


    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Vierailu Soihtu-museossa!
                </h1>
                <h2 class="subtitle">
                    Jyväskylän yliopiston historiaa oppimassa 🤓
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container main-text">
            <section class="section thumbnail">
                <img src="{{ url_for('static', filename='img/thumb.jpg') }}" />
                <p><em>Museossa oli myös AIVAN VALTAVA aikajana, jossa oli ihan kaikenlaisia vuosilukuja!</em></p>
            </section>
            <p>
                Heippa!
            </p>
            <p>
                Eilen kävin vierailulla museossa, josta löysin paljon mielenkiintoista tietoa historiaan liittyen.<br>
                Päätinpä jakaa mielenkiintoisimmat asiat teidän kanssanne kokoamalla ne tähän blogitekstiin.
            </p>
            <p>
                Museossa oli näytillä Uno Cygnaeuksen matkalaukku, joka on konservoitu vuonna <span
                    class="swap-year">2013</span>.
                Laukku näytti todella vanhalta, mutta tyylikkäältä.
                Jyväskylän kasvatusopillisessa korkeakoulussa toimi talousopettajana Alli Oksanen vuosina <span
                    class="swap-year">1919</span>-<span class="swap-year">1957</span>.
                Hän julkaisi useita kotitalouden oppikirjoja ja keittokirjan nimeltään Maija keittää.
                Museosta löytyi myös tietoa Jyväskylän yliopiston informaatioteknologian tiedekunnasta.
                Nykymuotoinen informaatioteknologian tiedekunta perustettiin vuonna <span class="swap-year">1998</span>.
                Muita kiinnostavia yliopistoon liittyviä seikkoja ovat muun muassa se, että Liikunta-rakennus on
                rakennettu vuonna <span class="swap-year">1971</span> ja avoin yliopisto-opetus alkoi vuonna <span
                    class="swap-year">1971</span>.
                Opin museovierailullani myös fonetiikasta. Aarni Penttilä hankki uudenaikaisen fonetiikan
                tutkimusvälineistön vuonna <span class="swap-year">1936</span>. Sillä oli mahdollista muuttaa
                äänisignaali visuaaliseen muotoon.
            </p>
            <p>
                Tässä olivat mielenkiintoisimmat faktat, jotka löysin museovierailullani.<br>
            </p>
            <p>
                Kuulemiin!
            </p>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 id="comments" class="is-size-3">Kommentit</h2>

            {% macro comment(name, hidden=False) %}
            <article {%if hidden%} style="background-color: black; display: none;" {%endif%} class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img
                            src="{%if hidden%}{{ url_for('static', filename='img/user425234_avatar.png')}}{%else%}{{ url_for('static', filename='img/anon_avatar.png') }}{%endif%}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong {%if hidden%}style="color: #00ff00" {%endif%}>{{name}}</strong>
                            <br>
                            {{ caller() }}
                            <br>
                            <small><a class="no-answer">Vastaa</a></small>
                        </p>
                    </div>
                </div>
            </article>
            {%endmacro%}
            <div id="current-comments">
                {% call comment("D4T4_W1Z", True) %}
                <div style="color: #00ff00; font-size: 1.75rem; font-weight: bold">
                    5. kirjain: 8<br>
                    6. kirjain: 6<br>
                </div>
                {% endcall %}

                {% call comment("supergrill41") %}
                <strong>Vau!</strong> En käynyt ikinä Soihdussa ja kadun sitä nyt! Siellä on niin paljon
                mielenkiintoista!
                Kiitos vinkistä!
                {% endcall %}

                {% call comment("heppa_tytsi_99") %}
                Siellä on muuten myös pädejä aivan kaikkialla, jokaiselta löytyy joku video. 9/10
                {% endcall %}

                {% call comment("mielensa_pahoittaja") %}
                kaikenlast sinäkin löydät!11! <strong>KOTONA OLEMINEN ON KYL PAREMPa</strong> 👴
                {% endcall %}

                {% call comment("cooldud3") %}
                Vau, historiaa.<br><br>
                Ompa kivaa<br>
                ░░░░░░░░░<br>
                ░░░░▄▀▀▀▀▀█▀▄▄▄▄░░░░<br>
                ░░▄▀▒▓▒▓▓▒▓▒▒▓▒▓▀▄░░<br>
                ▄▀▒▒▓▒▓▒▒▓▒▓▒▓▓▒▒▓█░<br>
                █▓▒▓▒▓▒▓▓▓░░░░░░▓▓█░<br>
                █▓▓▓▓▓▒▓▒░░░░░░░░▓█░<br>
                ▓▓▓▓▓▒░░░░░░░░░░░░█░<br>
                ▓▓▓▓░░░░▄▄▄▄░░░▄█▄▀░<br>
                ░▀▄▓░░▒▀▓▓▒▒░░█▓▒▒░░<br>
                ▀▄░░░░░░░░░░░░▀▄▒▒█░<br>
                ░▀░▀░░░░░▒▒▀▄▄▒▀▒▒█░<br>
                ░░▀░░░░░░▒▄▄▒▄▄▄▒▒█░<br>
                ░░░▀▄▄▒▒░░░░▀▀▒▒▄▀░░<br>
                ░░░░░▀█▄▒▒░░░░▒▄▀░░░<br>
                ░░░░░░░░▀▀█▄▄▄▄▀<br>
                {% endcall %}

            </div>

            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea"
                                placeholder="Sinun pitää olla Faktatytön Superkerhossa kommentoidaksesi!"
                                disabled></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button" disabled>Kirjaudu sisään kommentoidaksesi</button>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</body>

</html>